* {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

@import './mixins.scss';


header {
    @include blocks(1440px, 92px, _, _);

    display: flex;
    align-items: center;
    width: 100%;
}

.conteiner{
    width: 1440px;
}

.dreamshare {
    @include texts(20px, bold, 0 0 0 248px, white);
    font-family: "Montserrat ", sans-serif;
    

}

.log {
    margin-left: 30px;
}

.sign {
    @include blocks(90px, 36px, 0 0 0 30px, _);
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.aft {
    @include texts(14px, 400, 0 0 0 550px, white);
    display: flex;
    font-family: "Montserrat ", sans-serif;
    align-items: center;

}

.main_photo {
    @include blocks(1440px, 700px, _, url(./photos/Bitmap.png));

    position: absolute;
    flex-wrap: wrap;

}

.shadow {
    @include blocks (1440px, 700px, _, rgb(0, 0, 0));
}

.holidays_dreams {
    @include texts(52px, 700, _, rgb(255, 255, 255));
    font-family: "Montserrat ", sans-serif;

}

.share {
    margin-left: 40px;
}

.helping {
    width: 100%;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.find_perfect {
    @include texts(24px, 300, 25px 0 0 0, white);
    font-family: roboto;

}

.button {
    @include blocks (225px, 40px, 30px 0 0 0, #FF4E50);
    @include texts(14px, 700, _, white);
    border-radius: 40px;
    font-family: "Montserrat ", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.second_floor_block {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 109px;
    align-items: flex-end;
    margin-bottom: 35px
}

.how_it_work {
    @include texts(26px, 700, _, #444444);
    font-family: Montserrat;
}

.second_floor_steps {
    @include blocks(300px, 400px, 0 20px 0 0, _);
    display: flex;
}

.cards {
    width: 1440px;
    display: flex;
    justify-content: center;
}

.one {
    background-image: url(./photos/Step\ 1.png);
    display: flex;
    flex-direction: column;

}

.second_floor_steps_button {
    @include blocks(70px, 20px, 200px 0 0 25px, #FF4E50);
    @include texts (10px, 400, _, white);
    font-family: Montserrat;
    border-radius: 40px;
    margin-top: 219px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;

}

.second_floor_main_text {
    @include texts(24px, 700, 15px 0 0 25px, white);
    font-family: montserrat;

}

.second_floor_filling {
    @include texts(14px, 300, 25px 0 0 25px, #E3E3E3);
    font-family: Roboto;
}

.two {
    background-image: url(./photos/Step\ 2.png);
    display: flex;
    flex-direction: column;
}

.three {
    background-image: url(./photos/Step\ 3.png);
    display: flex;
    flex-direction: column;
}

.step2button {
    margin-top: 250px;
}


.step2maintext {
    margin-top: 25px;

}


.step2filling {
    margin-top: 15px;
    width: 250px;
}

.third_floor {
    width: 1440px;
    display: flex;
    justify-content: center;



}




.avatar {
    @include blocks(120px, 120px, 0 0 0 51px, url(./photos/avatar\ 1.png));
    flex-wrap: wrap;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.music {
    @include blocks(28px, 28px, _, #FF4E50);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: 4px solid white;
}

.icon {
    margin-left: 5.5px;
}

.avatar_conteiner {
    width: 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.avatar_main_text {
    @include texts (14px, 700, 17px 0 0 0, #444444);
    font-family: montserrat;
}

.avatar_filling {
    @include texts(14px, 300, _, #666666);
    font-family: roboto;
}

.second {
    background-image: url(./photos/avatar\ 2.png);
}

.light_blue {
    background-color: #19D4CA;
}

.third {
    background-image: url(./photos/avatar\ 3.png);
}

.fourth{
    background-image: url(./photos/avatar\ 4.png);
}

.yellow {
    background-color: #FFA710;
}

.blue {
    background-color: #667DF3;

}


.plane_margin {
    margin-left: 4px;
}

.yellow_girl {
    margin-left: 2px
}

.orange_button {
    @include blocks(180px, 40px, _, _, );
    @include texts(14px, 700, _, #FF4E50);
    font-family: montserrat;
    border-radius: 40px;
    border: 2px solid #FF4E50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.shadow_sport {
    @include blocks (300px, 310px, _, rgba(0, 0, 0, 0.404));
    @include texts (22px, 700, _, white);
    font-family: montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}


.sport {
    @include blocks (300px, 310px, _, url(./photos/activities/sport\ 1.png));
}


.block_of_images {
    display: flex;
    width: 940px;

    justify-content: space-between;
}

.fourth_floor {
    display: flex;
    width: 1440px;
    justify-content: center;
}


.health {
    background-image: url(./photos/activities/sport\ 2.png);
}


.extreme {
    background-image: url(./photos/activities/sport\ 3.png);
}

.rome {
    width: 620px;
    background-image: url(./photos/activities/sport\ 5.png);
}

.rome_shadow {
    width: 620px;
}

.mid {
    margin-top: 20px;
}

.poker {
    background-image: url(./photos/activities/sport\ 4.png);
}

.relax {
    background-image: url(./photos/activities/sport\ 6.png);
}

.travel {
    background-image: url(./photos/activities/sport\ 7.png);
}

.bottom_floor {
    margin-top: -92px;
}

.question {
    @include texts(18px, 300, _, #666666);
    font-family: roboto;
}

.block {
    @include blocks(299px, 40px, _, _);
    @include texts (14px, 300, _, rgb(0, 0, 0));
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    margin-right: 10px;
}

.button_red {
    @include blocks(172.13px, 40px, _, #FF4E50);
    @include texts (14px, 700, _, white);
    border-radius: 40px;
    font-family: montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rectangle {
    @include blocks(1440px, 2px, _, rgba(255, 78, 80, 1));
}


.names{
    @include texts (14px, 700, _,  rgba(68, 68, 68, 1));
    width: 1440px;
    display: flex;
    margin-top: 36px;
    font-family: montserrat;
    justify-content: space-evenly;
}
.dream{
    @include texts(16px, 400, _, #FF4E50)

}

ul{
    list-style: none;
    font-family: roboto;
    @include texts (14px, 300,11px 0 50px 0 ,#999999);
}

li{
    margin-top: 10px;
}

.des{
    @include texts(10px,700,_,rgba(204, 204, 204, 1));
    margin-left: 35px;
}



/*# sourceMappingURL=style2.scss.map */